<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Cadastrar E-Commerce</title>

        <style>

        .center {
        text-align: center;
        margin: auto;
        width: 50%;
        padding: 10px;
        }

        </style>
        
    </head>

    <body style="background-color:#A3DAEC;">
        <div class="center">
        
            <h1> Cadastrar novo E-commerce</h1>

            <form action="" method="post">
                <input type="checkbox" name="commerce1" value="amazon" /> Amazon
                <input type="checkbox" name="commerce2" value="americanas" /> Americanas
                <input type="checkbox" name="commerce3" value="magalu" /> Magalu
            </form>

            <form>
                <label for="fname">Email:</label><br>
                <input type="text" id="fname" name="fname"><br>
                <label for="lname">Senha:</label><br>
                <input type="text" id="lname" name="lname">
            </form>

        </div>

    </body>

</html>